#mainContainerVbox {
    -fx-background-color: #f5f5f5;
    -fx-padding: 10;
    -fx-spacing: 10;
}
Button{
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
Button:pressed{
    -fx-text-fill: white;
}
#addButton{
    -fx-background-color: #7ada7a;
}
#removeButton{
    -fx-background-color: #f16e6e;
}
#editButton{
    -fx-background-color: #fec570;
}